.text-gray {
  color: #aaa;
}

ul {
  overflow: visible;
  overflow-y:scroll;
  max-height: 500px;
}

.prod-pic {
  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  min-width: 100px;
}

.submit-btn {
  margin-left: 6%;
}

.quantity-input {
  width:  50px;
}

input[type=number] {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.total-price {
  background-color: cornflowerblue;
  margin-right: 6%;
  color: black;
}

.controls {
  margin: 1%;
}
