.text-gray {
  color: #aaa;
}

ul {
  overflow: visible;
  overflow-y:scroll;
  max-height: 500px;
}

.prod-pic {
  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  min-width: 100px;
}

.submit-btn {
  margin-left: 6%;
}

.quantity-input {
  float: right;
  width:  50px;
  margin-right: 10%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

}
