<div class="container py-3">
  <button class="btn btn-primary pull-left submit-btn" (click)="onSubmit()">Submit Order</button>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-lg-11 mx-auto">
      <ul class="list-group shadow">
        <li class="list-group-item" *ngFor="let prod of products; index as i">
          <div class="media align-items-lg-center flex-column flex-md-row p-0">
            <div class="media-body order-1 order-lg-1">
              <h3 class="font-italic text-muted mb-0">
                <strong>{{prod.productName}}</strong>
                <input class="input-group quantity-input" value="0"
                       type="number" id="quantity" name="quantity" min="0"
                       [formControl]="allInputs.controls[i]">
              </h3>
              <p class="font-italic text-muted mb-0" *ngIf="prod.food">
                <strong>Ingredients: </strong>{{prod.ingredients}}
              </p>
              <p class="font-italic text-muted mb-0">
                <strong>Price: </strong>{{prod.price | currency}}
                <strong> / </strong> {{prod.quantity}} {{prod.food ? "g" : "ml"}}
              </p>
            </div>
            <img [src]="prod.pic"
                 alt="Generic placeholder image" class="ml-lg-5 order-1 order-lg-2 prod-pic">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
